.add-to-fav{
    display: flex;   
    flex-direction: row;
    gap: 10px;
    background-color: cc3b33;
    padding: 1em 1em 0 1em;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
   }

.add-to-fav:hover{
    scale: 1.05;
    transition: all 0.3s;
}

.add-to-fav h5{
    color: #fff !important;
}
.add-to-fav i{
    pointer-events:auto;
    cursor: pointer;
    scale: 1.3;
    transform: translateY(3px);
    transition: all 0.3s;
}

.add-to-fav i:hover{
    scale: 1.4;
}

.unfavourited{
    color: #fff;
}

.favourited{
    color: #ff7070;
}
.more{
    margin-bottom: 10px ;
}