<!DOCTYPE html>
<html>
<head>
    <title>Favorites</title>
    <script src="../checkCountry.js"></script>
    <script src="../../header.js"></script>
    <link rel="stylesheet" href="../css/custom.css">
</head>
<body>
    <div class="body">
        <script src="menu2.js"></script>
        <div class="body">
            <div role="main" class="main">
                <section class="page-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Favorites</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                    <script src="/displayMessageLong.js"></script>
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="shorter"><strong>Favorited Items</strong></h2>
                        </div>
                    </div>
                    <div class="row">
                        <ul id="favoritesDisplay" class="products product-thumb-info-list" style="list-style-type: none; margin-left: -3%;" data-plugin-masonry></ul>
                    </div>
                    <hr class="tall">
                </div>
            </div>
        </div>
        <script src="../footer.js"></script>
    </div>
    <script src="displayFavourites.js"></script>
</body>
</html>
